html{
  font-size:12px;
}
body{
  background-color: #a3c2c2;
  font-family:monospace;
  font-size:18px;
  line-height: 1.5;
  text-align: center;
  color:#000000;
}
main{
  background: #c4bcb1;
  margin:25px;
}

h1{
  color: #1ab09d;
  font size:50px;
  font-style: normal;
  font-family: fantasy;
  border:5px solid orange;
  border-radius:100px;
  margin:6;
  padding-top:10px;

}
img{
  height: 200%;
  width: 300px;
  border:5px solid black;
  text-align: center;
}
h2{
  color:#ff9500;

}
#thirdpargraph{
  font-size: 12px;
  font-style: italic;
}
li{
  color:#bbe12d;
}
.flexbox-container {
display: flex;
flex-direction: row;
justify-content: center;
}
.flexbox-container div
{
  display: inline-block;
padding: 5px 10px;
}

.checkbox {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
} */

input {
  -webkit-appearance: none;
  position: relative;
  width: 200px;
  height: 100px;
  background-color: rgb(244, 189, 33);
  border-radius: 50px;
  outline: none;
}

input:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  background-color: navy;
  border-radius: 50px;
}
input:checked {
  background-color: red;

}

input:checked:before {
  transform: translate(100%);
}
.darkmode{
  background-color: black;
}
.lightmode{
  background-color:gray;
}
.topMenuDarkMode{
  color:gray;
}
.topMenuLightMode{
  color:white;
}

/* from office hours thursday night */
/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
} */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
